<div>
    <input pInputText type="text" placeholder="Filter..." [(ngModel)]="m_filterStr" />
</div>
<div>
    <p-dropdown [options]="m_types" [(ngModel)]="m_type" (onChange)="ddTypeChange($event)"></p-dropdown>
    <p-dropdown [options]="m_dms" [(ngModel)]="m_dm" (onChange)="ddDmChange($event)"></p-dropdown>
    <p-dropdown [options]="m_systems" [(ngModel)]="m_system" (onChange)="ddSystemChange($event)"></p-dropdown>
</div>
<div>
    <p-checkbox [(ngModel)]="m_openGames" binary="true" inputId="binary"></p-checkbox>
    <label for="binary">Show Only Open Games</label>
</div>
